* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-1: #03e9f4;
    --clr-2: #050801;
    --clr-3: #4a0a5b;
    --clr-4: #ffffff;
    --clr-5: #333;
    --clr-6: #c2a420;
    --clr-7: #37eb37;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;

}

.content {
    width: 100%;
    height: 1800px;
    border-radius: 5px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/img/gacha_bg.png');
    background-size: cover;
    background-position: center;
}



.headarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
  body {
    margin: 0;
    font: 100% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    height: 100vh;
    display: flex;
  }
  
  h1 {
    margin: 10px auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
  }

#countDisplay {
    font-size: 23pt;
    text-align: center;
    color: #050801;
   
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0 1em 0;

}


.btn {
    width: 150px;
    height: 150px;
    margin: 0 90px ;
    font-size: 40px;
    color: var(--clr-5);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transform: skew(-5deg);
    transition: 0.5s;
    
}

.btn:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    background-color: var(--clr-3);
    border-radius: 0.5rem;
    filter: none;
   
}

#pullOne {
    background-image: url('/img/btn/btnOne.png');
    background-size: cover;
    opacity: 0.5;  
}

#pullTen {
    background-image: url('/img/btn/btnTen.png');
    background-size: cover;
    opacity: 0.5;  
}




#resetBtn {
    width: 7em;
    height: 3em;
    margin: 3em 5em;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-6);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: #050801;
    margin: 2em;
    transition: 0.5s;

    
}

#resetBtn:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    background-color: var(--clr-6);
    border-radius: 0.5rem;
    box-shadow: 0 0 2px var(--clr-6),
        0 0 25px var(--clr-6),
        0 0 50px var(--clr-6),
        0 0 200px var(--clr-6);
}

#obtain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
}


.count {

    background-color: green;

}

.item {
    width: 90%;
    height: 90%;
    padding: 10px;
    margin: 5%;
    background-color: #ffffff;
    text-align: center;
}

.item_h {
    color: #3d1e76;
    width: 18vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.c {
    width: 18vh;
    height: 20vh;
    border: 8px solid rgb(72, 210, 72);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    transform: skew(-5deg);
    transition: 0.5s;
}

.c:hover {
    transform: scale3d(1.3, 1.3, 1.3);
    background-color: rgb(72, 210, 72);
    color: #050801;
    margin: 2em;

    box-shadow: 0 0 5px rgb(72, 210, 72),
        0 0 25px rgb(72, 210, 72),
        0 0 50px rgb(72, 210, 72),
        0 0 200px rgb(72, 210, 72);

}



.r {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 8px solid rgb(93, 93, 214);
    width: 18vh;
    height: 20vh;
    transform: skew(-5deg);
    transition: 0.5s;


}

.r:hover {
    transform: scale3d(1.3, 1.3, 1.3);
    background-color: rgb(93, 93, 214);
    color: #050801;
    margin: 2em;

    box-shadow: 0 0 5px rgb(93, 93, 214),
        0 0 25px rgb(93, 93, 214),
        0 0 50px rgb(93, 93, 214),
        0 0 200px rgb(93, 93, 214);
}

.l {
    width: 18vh;
    height: 20vh;
    border: 8px solid rgb(247, 163, 9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: skew(-5deg);
    transition: 0.5s;

}

.l:hover {
    transform: scale3d(1.3, 1.3, 1.3);
    background-color: rgb(247, 163, 9);
    color: #050801;
    margin: 2em;

    box-shadow: 0 0 5px rgb(247, 163, 9),
        0 0 25px rgb(247, 163, 9),
        0 0 50px rgb(247, 163, 9),
        0 0 200px rgb(247, 163, 9);
}

#savedItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    overflow-y: auto;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}


#savedItems div {
    border: 1px solid #ccc;
    width: 150px;
    height: 270px;
    margin:30px 5px 0 5px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    font-size: 0.8em;
}


#savedItems div:hover {
    background-color: #ddd;
}

.item_quantity,.item_name,.item_type,.item_rare {
    font-size: 1.5em;
    color: var(--clr-2);
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
}




